# -------------------
# Python 常用忽略项
# -------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
env/

# -------------------
# 日志文件
# -------------------
logs/
*.log



# -------------------
# 临时运行输出
# -------------------
offload/
